<div class="center" style="width: 20%">
  <form (ngSubmit)="submit()">
    <input
      type="text"
      name="search"
      [(ngModel)]="search_query"
      #search="ngModel"
      placeholder="Search for Name..."
    />
    
    <button class="btn-class" type="submit">Search</button>
  </form>
</div>

<table class="table-class center table-main">
  <thead>
    <th class="table-class table-head">ID</th>
    <th class="table-class table-head">Name</th>
    <th class="table-class table-head">Email</th>
  </thead>
  <tbody *ngFor="let user of users">
    <tr (click)="expand(user.id)">
      <td class="table-class">{{ user.id }}</td>
      <td class="table-class">{{ user.name }}</td>
      <td class="table-class">{{ user.email }}</td>
    </tr>
    <tr *ngIf="opened[user.id!]">
      <td colspan="3">
        <div class="card">
          <div class="container">
            <h4>
              <b>{{ user.name }}</b>
            </h4>
            <p><u>Address</u>: {{ user.address }}</p>
            <p><u>Department</u>: {{ user.department }}</p>
            <p><u>Phone</u>: {{ user.phone }}</p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
